[Unit]
Description=URM Service
After=multi-user.target

[Service]
Restart=no
ExecStart=/usr/bin/urm
TimeoutStopSec=2
Slice=focused.slice
Delegate=yes

[Install]
WantedBy=multi-user.target
